@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@font-face {
    font-family:"basheq-vintage";
    src:url("/basheq-vintage.otf");
}
@font-face {
    font-family: "figtree";
    src: url("/figtree.ttf");
}

:root {
  --background: #f6f0e4;
  --foreground: #171717;
}

@theme inline {
    --color-primary: #171717;
    --color-secondary: #ffcad4;
    --color-secondary-dark: #f4acb7;
    --color-accent: #4361E9;
    --font-title: "basheq-vintage", "serif"; 
    /* --font-body: "figtree", "sans-serif"; */
    --font-body: "Libre Baskerville", "PT Serif", "serif";
}